.env 
node_modules/
logs
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vscode/
dist/
build/
*.tmp
*.temp
coverage/
.AppleDouble
.LSOverride
.AppleDouble
.LSOverride
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.swp
*~.nib
*.swo
